@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Play", sans-serif;
  line-height: 1.42;
  color: #292929;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

address {
  font-style: normal;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container {
  max-width: 980px;
  width: 95%;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.0833333333;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 2.286rem;
  }
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
}
.hero__container {
  background: url("./img/bg/headphone.png") right center/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5625rem 0 4.0625rem 0;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}
.hero__description {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__description {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__description::before {
    content: "";
    background: url("./img/bg/headphone.png");
    background-size: contain;
    width: 21.533rem;
    height: 21.533rem;
    margin-bottom: 4.267rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__description::before {
    margin-bottom: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero__advantages {
    display: none;
  }
}
.hero__title {
  margin-bottom: 1.375rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    padding: 0 7%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    padding: 0 15%;
    margin-bottom: 1rem;
  }
}
.hero__subtitle {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.2;
  margin-bottom: 2.25rem;
  padding-right: 15%;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    padding: 0 18%;
  }
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    margin-bottom: 1.857rem;
  }
}
.hero::after {
  content: url("./img/bg/decorate_1.png");
  position: absolute;
  bottom: -1.75rem;
  right: 20%;
}
@media screen and (max-width: 768px) {
  .hero::after {
    right: 10%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}

.logo {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}
.logo__img {
  width: 100%;
  height: 100%;
  fill: #E01F3D;
}

.menu {
  margin: 0 1.875rem;
  padding-top: 0.5rem;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.125rem;
}
.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.3333rem;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.contacts {
  font-size: 1.125rem;
  padding-top: 0.5rem;
}
@media screen and (max-width: 480px) {
  .contacts__address {
    margin-bottom: 0.857rem;
  }
}
.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.contacts__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contacts__img {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
  fill: #292929;
}
@media screen and (max-width: 480px) {
  .contacts--mobile {
    margin-bottom: 1.357rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.125;
  font-weight: 700;
  padding: 1.125rem 2.5625rem;
  border-radius: 6.25rem;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  background-color: #E01F3D;
  color: white;
}
.button:hover {
  background-color: #CA1B36;
}
.button--without-style {
  text-transform: none;
  font-weight: 400;
  padding: 0;
  background-color: transparent;
}
.button--without-style:hover {
  background-color: transparent;
  color: #E01F3D;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantages__item {
  margin-right: 0.875rem;
}
.advantages__item:last-child {
  margin-right: 0;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantage__icon {
  width: 2.5625rem;
  height: 2.5625rem;
  margin-right: 0.6875rem;
}
.advantage__text {
  max-width: 7rem;
  line-height: 1.125;
}
.advantage__img {
  width: 100%;
  height: 100%;
}

.why {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.why__title {
  text-align: center;
  margin-bottom: 1.125rem;
}
.why__subtitle {
  text-align: center;
  color: #666666;
  margin-bottom: 3.875rem;
  padding: 0 20%;
}
@media screen and (max-width: 480px) {
  .why__subtitle {
    padding: 0 10%;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5.5%;
  position: relative;
}
.features__item:first-child {
  padding-left: 0;
}
.features__item:last-child {
  padding-right: 0;
}
.features__item:last-child::after {
  display: none;
}
.features__item::after {
  content: url("./img/bg/seporator.png");
  position: absolute;
  top: 3.125rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 850px) {
  .features__item {
    padding: 0 2%;
  }
}
@media screen and (max-width: 768px) {
  .features__item {
    padding: 0 1%;
  }
  .features__item::after {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .features__item {
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature {
  text-align: center;
}
.feature__pic {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 650px) {
  .feature__pic {
    margin-bottom: 0;
    margin-right: 0.857rem;
  }
}
.feature__pic-wrappper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #F2F5F4;
  position: relative;
  overflow: hidden;
}
.feature__img {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.feature__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1570833333;
  margin-bottom: 0.4375rem;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .feature__title {
    white-space: pre-wrap;
  }
}
.feature__about {
  color: #666666;
  line-height: 1.125;
}
@media screen and (max-width: 650px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .feature__content {
    padding: 3% 15% 0 0;
  }
}

.products {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.products__wrapper {
  position: relative;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100%;
     -moz-column-gap: 100%;
          column-gap: 100%;
  position: relative;
}
.products__slide-arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: -5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
@media screen and (max-width: 1100px) {
  .products__slide-arrows {
    left: 0%;
  }
}
@media screen and (max-width: 768px) {
  .products__slide-arrows {
    top: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 28.5rem;
       -moz-column-gap: 28.5rem;
            column-gap: 28.5rem;
  }
}
@media screen and (max-width: 450px) {
  .products__slide-arrows {
    -webkit-column-gap: 21rem;
       -moz-column-gap: 21rem;
            column-gap: 21rem;
  }
}
.products__slide-arrow {
  width: 0.875rem;
  height: 1.75rem;
}
.products__slide-arrow--left {
  background: url("./img/icons/left.svg") center center/cover;
}
.products__slide-arrow--right {
  background: url("./img/icons/right.svg") center center/cover;
}
.products::before {
  content: url("./img/bg/decorate_2.png");
  position: absolute;
  top: -1.4rem;
  left: 6%;
}
.products::after {
  content: url("./img/bg/decorate_5.png");
  position: absolute;
  bottom: -1.7rem;
  right: 8%;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.6875rem;
     -moz-column-gap: 3.6875rem;
          column-gap: 3.6875rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.product__pic {
  width: 28.25rem;
  height: 28.25rem;
}
@media screen and (max-width: 768px) {
  .product__pic {
    width: 20.4rem;
    height: 20.4rem;
    margin: 0 0 2.133rem 0;
  }
}
.product__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.product__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
  position: relative;
  padding-bottom: 2.85rem;
}
@media screen and (max-width: 768px) {
  .product__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.product__title {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1569444444;
}
@media screen and (max-width: 768px) {
  .product__title {
    font-size: 1.8667rem;
  }
}
@media screen and (max-width: 480px) {
  .product__title {
    padding: 0 10%;
  }
}
.product__description {
  line-height: 1.15625;
  color: #666666;
  padding-right: 20%;
}
@media screen and (max-width: 768px) {
  .product__description {
    padding: 0 10%;
  }
}
.product__properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5.375rem;
     -moz-column-gap: 5.375rem;
          column-gap: 5.375rem;
}
.product__property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product__property-title {
  line-height: 1.15625;
  color: #666666;
}
.product__property-subtitle {
  font-size: 1.125rem;
  line-height: 1.301875;
  font-weight: 700;
}
.product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.2rem;
     -moz-column-gap: 1.2rem;
          column-gap: 1.2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product__price {
  font-size: 2.25rem;
  line-height: 1.6666666667;
  color: #151515;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.2667rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.drop {
  color: black;
}
.drop__pic {
  width: 5.6875rem;
  height: 5.6785rem;
  background-color: #9A9A9A;
  border-radius: 0.25rem;
  position: relative;
}
.drop__img {
  fill: white;
  width: 2.625rem;
  height: 2.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.drop__menu {
  opacity: 0;
  position: absolute;
  left: 1000%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.drop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5625rem;
  min-width: 17.0625rem;
  background-color: white;
  opacity: 0.95;
  padding: 1.75rem;
  border-radius: 0.25rem;
}
.drop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.drop__property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.drop__icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.drop__icon-img {
  width: 100%;
  height: 100%;
}
.drop__pic:hover .drop__menu {
  left: 100%;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .drop {
    display: none;
  }
}

.team {
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.team__title {
  text-align: center;
  margin-bottom: 3.3125rem;
}
.team__list--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__list--mobile {
  display: none;
}
.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 13.75rem;
  text-align: center;
  position: relative;
}
.team__item--active .team__link::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #E01F3D;
  border-top-width: 0;
  border-left-width: 4.5px;
  border-right-width: 4.5px;
  position: absolute;
  right: -1rem;
  bottom: 0.4rem;
}
.team__member {
  height: 18.125rem;
  margin-bottom: 1.5625rem;
}
.team__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__link {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.6875rem;
  color: #292929;
  line-height: 1.301875;
  position: relative;
  cursor: pointer;
}
.team__link::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #E01F3D;
  border-bottom-width: 0;
  border-left-width: 4.5px;
  border-right-width: 4.5px;
  position: absolute;
  right: -1rem;
  bottom: 0.4rem;
}
.team__content {
  position: absolute;
  top: 100%;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.team__content-wrap {
  padding-bottom: 0.3125rem;
  line-height: 1.156875;
}
.team__position {
  color: black;
  margin-bottom: 0.25rem;
}
.team__desc {
  color: #666666;
}
@media screen and (max-width: 768px) {
  .team__list--desktop {
    display: none;
  }
  .team__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1rem;
  }
  .team__list--mobile .team__content {
    position: relative;
  }
  .team__list--mobile .team__member {
    margin-bottom: 1rem;
  }
}

.reviews {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.reviews__title {
  text-align: center;
  margin-bottom: 2rem;
}
.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__switcher-item {
  margin-right: 0.375rem;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}
.reviews::before {
  content: url("./img/bg/decorate_3.png");
  position: absolute;
  bottom: -1.5625rem;
  left: 6%;
}
.reviews::after {
  content: url("./img/bg/decorate_4.png");
  position: absolute;
  bottom: -2rem;
  right: 10%;
}

.card {
  background-color: #F8FAF9;
  padding: 2.625rem 6.6875rem 2.625rem 2.625rem;
  margin-bottom: 0.9375rem;
  position: relative;
  overflow: hidden;
  min-height: 21.75rem;
}
.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: 0.3 s;
  transition: 0.3 s;
  opacity: 0;
}
.card__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}
@media screen and (max-width: 768px) {
  .card__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.card__pic {
  width: 15.8125rem;
  height: 16.5rem;
  margin-right: 2.375rem;
}
@media screen and (max-width: 768px) {
  .card__pic {
    width: 8.667rem;
    height: 8.667rem;
    margin: 0 0 2.133rem 0;
  }
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.card__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1570833333;
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .card__title {
    margin-bottom: 1.067rem;
  }
}
.card__text {
  color: #666666;
  line-height: 1.125;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .card__text {
    margin-bottom: 1.067rem;
  }
}
.card__author {
  font-size: 1.125rem;
  font-weight: 700;
}
.card::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.325rem;
}
@media screen and (max-width: 768px) {
  .card::before {
    top: -3rem;
  }
}
@media screen and (max-width: 768px) {
  .card {
    padding: 3.733rem 1.6rem;
  }
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
}
.interactive-avatar__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.delivery {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./img/bg/bg_form.png") center bottom/cover no-repeat;
  background-color: #181818;
  color: white;
}
.delivery__title {
  text-align: center;
  margin-bottom: 3.75rem;
}
@media screen and (max-width: 768px) {
  .delivery__title {
    margin-bottom: 2rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.875rem;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.0625rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__title {
  line-height: 1.125;
  margin-bottom: 0.1875rem;
}
.form__input {
  width: 100%;
  padding: 1.125rem 0.75rem;
  border-radius: 0.25rem;
  border: 0.25rem solid transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}
.form__input:focus {
  border-color: #E01F3D;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.533rem 0.667rem;
  }
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
  margin-bottom: 1.125rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.467rem;
    margin-bottom: 0.192rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1875rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 0.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__btn {
  margin-right: 0.9375rem;
}
.form__btn:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10rem;
  }
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.25rem;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.78125rem;
  height: 0.78125rem;
  background-color: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio--checkbox {
  margin-bottom: 1.8125rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  background: url("./img/icons/check.svg") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 1rem;
  }
}

.error {
  color: #E01F3D;
}

.about {
  background: url("./img/bg/map.png") center center/cover no-repeat;
  height: 100vh;
  min-height: 46rem;
  position: relative;
}

.footer {
  padding: 1.25rem;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.socials__item {
  width: 2rem;
  height: 2rem;
  margin-right: 0.625rem;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.socials__img {
  width: 100%;
  height: 100%;
  fill: #B3B3B3;
}
.socials__img:hover {
  fill: black;
}

.fixed-menu {
  position: fixed;
  top: 35%;
  right: 3%;
  z-index: 10;
}
.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--current .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--current .fixed-menu__link::before {
  background-color: #E01F3D;
}
.fixed-menu__link {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #666666;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hamburger__plank {
  height: 0.333rem;
  background: #292929;
  display: block;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.fullscreen__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
  line-height: 2;
  text-align: center;
  padding-top: 10%;
}
.fullscreen__link {
  color: white;
}
.fullscreen__button {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #313131;
  position: absolute;
  top: 2.625rem;
  right: 2.625rem;
}
.fullscreen__icon {
  width: 100%;
  height: 100%;
  fill: white;
  fill-opacity: 0.7;
}
.fullscreen--opened {
  left: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}
.modal__container {
  padding: 2.3125rem 3.125rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__content {
  color: black;
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}
.modal--opened {
  left: 0;
}