.reviews {
	height: 100vh;
	min-height: 40.625rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	&__title {
		text-align: center;
		margin-bottom: 2rem;
	}
	&__switcher {
		display: flex;
		justify-content: center;
	}
	&__switcher-item {
		margin-right: 0.375rem;
		&:last-child {
			margin-right: 0;
		}
	}
	&::before {
		content: url('./img/bg/decorate_3.png');
		position: absolute;
		bottom: -1.5625rem;
		left: 6%;
	}
	&::after {
		content: url('./img/bg/decorate_4.png');
		position: absolute;
		bottom: -2rem;
		right: 10%;
	}
}