.reviews {
	height: 100vh;
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	&__title {
		text-align: center;
		margin-bottom: 32px;
	}
	&__switcher {
		display: flex;
		justify-content: center;
	}
	&__switcher-item {
		margin-right: 6px;
		&:last-child {
			margin-right: 0;
		}
	}
	&::before {
		content: url('./img/bg/decorate_3.png');
		position: absolute;
		bottom: -25px;
		left: 6%;
	}
	&::after {
		content: url('./img/bg/decorate_4.png');
		position: absolute;
		bottom: -32px;
		right: 10%;
	}
}