.why {
	height: 100vh;
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	&__title {
		text-align: center;
		margin-bottom: 18px;
	}
	&__subtitle {
		text-align: center;
		color: $grey;
		margin-bottom: 62px;
		padding: 0 20%;
	}
	&::before {
		content: url('./img/bg/decorate_2.png');
		position: absolute;
		bottom: -20px;
		left: 6%;
	}
}